# Include only those things that are necessary for the embedding problem.

code/python/*
!code/python/freeze_and_thaw
code/python/freeze_and_thaw/*
!code/python/freeze_and_thaw/cython
code/python/freeze_and_thaw/cython/setup.py
code/python/freeze_and_thaw/cython/build/*
*.so
*.c
*.log
*.err
*.pbs
